@import "font.css";



.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    margin: 0;
}

h3 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0;
}

h4 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

ul {
    list-style-type: disc;
    color: #03B2A5;
    font-size: 24px;
    margin: 0;
}

p {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

article {
    grid-column: 1 / span 7;
    row-gap: 24px;
}

.article-container {   
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.article-author {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.article-author p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
}

.dot {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #494949;
    margin: 0 8px;
}

.block-content {
    grid-column: 1 / span 6;
}

.block-content li p{
    margin: 0 0 8px 0;
    text-decoration: underline;
}

.box-color {
    position: relative;
    padding: 24px;
    border-radius: 16px;
    margin: 24px 0;
}

.box-color-blue {
    padding-top: 34px;
    background-color: #F3F7FE;
}

.box-task-blue {
    background-color: #F3F7FE;
}

.box-task-peach {
    background-color: #FEFAEC;
}

.box-task-pink {
    background-color: #FFF3EB;
}

.box-task h4{
    margin: 0;
}

.box-task p{
    margin: 8px 0 0 0;
}

.box-color img {
    position: absolute;
    content: none;
    top: 24px;
    left: 24px;
}

.box-color-blue p:first-of-type{
    font-style: italic;
    margin: 0;
}

.box-color-blue p:last-of-type {
    font-weight: bold;
    margin: 8px 0 0 0;
}

.subscription {
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
    margin-bottom: 0;
}

.box-spot {
    grid-column: 2 / span 5;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.box-spot img {
    z-index: 1;
    position: absolute;
    content: none;
}

.box-spot p {
    font-style: italic;
    z-index: 2;
}

.article-content {
    display: flex;
    flex-flow: column;
    row-gap: 24px;
}

.box-picture {
    grid-column: 1 / span 3;

}

.box-picture2 {
    grid-column: 4 / span 7;

}

.box-picture p {
    grid-column: 4 / span 7;
}

.box-cards {
    display: flex;
    flex-flow: row;
    column-gap: 24px;
}

.box-card {
    display: flex;
    flex-flow: column;

}

.ul-tags {
    font-family: Montserrat, sans-serif;
    color: #494949;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
}

.ul-tags li {
    display: inline;
    color: #2963A3;
}

aside {
    grid-column: 10 / span 12;
}

.aside-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.aside-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid #030303;
    border-radius: 4px;
}