@import "font.css";

.header-main {
    position: relative;
    padding-bottom: 96px;
}

.body-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.body-article-footer {
    position: absolute;
    bottom: 198px;
    right: 0;
}

.body-article-center {
    position: absolute;
    top: 43%;
    right: 0;
}


@media (max-width: 1200px) {
    .body-footer {
        visibility: hidden;
    }

    .body-article-footer {
        visibility: hidden;
    }

    .body-article-center {
        visibility: hidden;
    }

    .article-footer {
       display: none !important;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 24px 24px;
}

.grid-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 24px 24px;
}

.bg-image {
    background-image: url("../images/article/spot.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    margin: 0;
}

h2 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
    margin: 0;
}

h3 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0;
}

h4 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

ul {
    list-style-type: disc;
    color: #03B2A5;
    font-size: 24px;
    margin: 0;
}

p {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.article {
    @media (min-width: 1200px) {
        grid-column: 1 / span 7;
        row-gap: 24px;
    }
    @media (min-width: 1024px) and (max-width: 1999px) {
        grid-column: 1 / span 9;
        row-gap: 24px;
    }
    @media (max-width: 1023px) {
        grid-column: 1 / span 12;
        row-gap: 24px;
    }
}

.article-header ul {
    display: flex;
    text-wrap: nowrap;
    flex-wrap: wrap;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    letter-spacing: 0.25px;
    line-height: 18px;
    align-items: center;
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 54px;
}

.article-header ul li {
    display: flex;
    padding: 0;
}

.article-header ul li:first-child {
    list-style: none;
}

.article-header ul li img {
    opacity: 70%;
    margin: 0 8px 0px 4px;
}

.article-header ul li a {
    text-decoration: none;
    color: #333333B3;
    margin: 0;
}

.article-footer {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    border-top: solid 2px #DEDEDE;
    margin-bottom: 96px;
}

.article-footer__card {
    margin-top: 72px;
    grid-column: 1 / span 4;
    row-gap: 24px;
}

.article-footer__card p {
    padding-right: 72px;
    line-height: 26px;
    margin-bottom: 0;
}

.article-footer__card button {
    padding: 20px 24px;
    background-color: #35B3A9;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
}

.article-footer__card button:hover {
    background-color: #03A094;
}

.article-footer__img {
    margin-top: 72px;
    grid-column: 7 / span 6;
    display: flex;
    justify-content: center;
}

.article-container {   
    display: flex;
    flex-flow: column;
    justify-content: center;
    row-gap: 24px;
}

.article-author {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.article-author p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
}

.dot {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background-color: #2963A3;
    margin: 0 8px;
}

.dot-small {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #494949;
    margin: 0 8px 0 0;
}

.dot-medium {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #A2A7B1;
    margin: 0 8px 0 0;
}

.block-content {
    grid-column: 1 / span 6;
}

.block-content ul li p{
    padding: 0;
    margin: 0 0 8px 0;
    text-decoration: underline;
}

.box-color {
    position: relative;
    padding: 24px;
    border-radius: 16px;
}

.box-color-blue {
    padding-top: 34px;
    background-color: #F3F7FE;
}

.box-task-blue {
    background-color: #F3F7FE;
}

.box-task-peach {
    background-color: #FEFAEC;
}

.box-task-pink {
    background-color: #FFF3EB;
}

.box-task-green {
    background-color: #03B2A51A;
}

.box-task h4{
    margin: 0;
}

.box-task p{
    margin: 8px 0 0 0;
}

.box-color img {
    position: absolute;
    content: none;
    top: 24px;
    left: 24px;
}

.box-color-blue p:first-of-type{
    font-style: italic;
    margin: 0;
}

.box-color-blue p:last-of-type {
    font-weight: bold;
    margin: 8px 0 0 0;
}

.subscription {
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
    margin-bottom: 0;
}

.box-spot {
    grid-column: 2 / span 5;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;

}

.box-spot img {
    z-index: 1;
    position: absolute;
    content: none;
    object-fit: contain;
}

.box-spot p {
    margin: 24px 0;
    font-style: italic;
    z-index: 2;
}

.box-flash {
    display: flex;
    justify-content: center;
}

.article-content {
    display: flex;
    flex-flow: column;
    row-gap: 24px;
}

.article-content p {
    margin: 0;
}

.box-picture {
    grid-column: 1 / span 3;
}

.box-picture img {
    height: 100%;
    width: 100%;
}
.box-picture-text {
    grid-column: 4 / span 4;
}

.box-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.box-card {
    display: flex;
    flex-flow: column;
    row-gap: 24px;
}

.box-card img {
    width: 100%;
}

.box-sub-ul img {
    width: 100%;
}

.ul-tags {
    display: flex;
    font-family: Montserrat, sans-serif;
    color: #2963A3;
    font-size: 14px;
    line-height: 20px;
    text-wrap: nowrap;
    column-gap: 8px;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.ul-tags li {
    display: flex;
    align-items: center;
}

.ul-tags li a {
    margin: 0;
}

aside {
    @media (min-width: 1024px) {
        grid-column: 10 / span 3;
    }
    @media (max-width: 1023px) {
        grid-column: 1 / span 12;
    }
}

.aside-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.aside-box-qlick {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 16px;
    background-color: #E6F0FD;
    padding: 24px;
    row-gap: 24px;
    margin-top: 90px;
    margin-bottom: 22px;
}

.aside-box-qlick__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    row-gap: 8px;
}

.aside-box-qlick__img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aside-box-qlick__content h4 {
    margin: 0;
}
.aside-box-qlick__content p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.aside-box-qlick button {
    padding: 12px 24px;
    background-color: #35B3A9;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.aside-box-qlick button:hover {
    background-color: #03A094;
}

.aside-box-person {
    border: 2px solid #DEDEDE;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 28px;
    position: relative;
}

.aside-box-person__image-box {
    width: 120px;
    height: 120px;
    background-image: url("../images/article/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.aside-box-person__tag-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    top: 16px;
    left: 16px;
    z-index: 0;}

.aside-box-person__tag {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 4px;
    background-color: #F3F4F8B3;
    border-radius: 6px;
    width: fit-content;
    z-index: 0;
    padding: 0 6px;
}

.aside-box-person__tag__img {
    width: 16px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.aside-box-person__tag__img-pen {
    background-image: url("../images/article/pen.png");
}

.aside-box-person__tag__img-video {
    background-image: url("../images/article/video.png");
}

.aside-box-person__tag p{
    font-family: Montserrat-Medium, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin: 3px 0 3px 0;
}

.aside-box-person__content {
    margin: 0;
}

.aside-box-person__content__about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aside-box-person__content__about__prof {
    margin-top: 16px;
}
.aside-box-person__content__about__prof p:first-child {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.aside-box-person__content__about__prof p:last-child {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.ul-tags-medium {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.ul-tags-medium li {
    display: flex;
    align-items: center;
}

.ul-tags-medium li p {
    font-family: Montserrat-Medium, sans-serif;
    color: #A2A7B1;
    font-size: 14px;
    line-height: 20px;
    text-wrap: nowrap;
}

.aside-box-person__content__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    row-gap: 8px;
    border-top: 2px solid #DEDEDE;
}

.aside-box-person__content__list h4 {
    margin: 16px 0 0 0 ;
}
.aside-box-person__content__list ul {
    padding-left: 20px;
}
.aside-box-person__content__list p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.aside-box-person__content__list button {
    padding: 12px 24px;
    background-color: #35B3A9;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.aside-box-person__content__list button:hover {
    background-color: #03A094;
}

.aside-box-presents {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background-color: #2963A3;
    margin-bottom: 42px;
    z-index: 3;
    padding: 60px 24px 152px 24px;
}

.aside-box-presents img:first-child {
    position: absolute;
    top: 0;
    z-index: 1;
}

.aside-box-presents img:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
}

.aside-box-presents h2 {
    color: white;
    z-index: 2;
}

.aside-box-price {
    position: relative;
    border: 2px solid #DEDEDE;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    row-gap: 16px;
}

.aside-box-price p {
    margin: 0;
}

.aside-box-price p span{
    font-size: 24px;
    line-height: 32px;
}

.aside-box-price p:nth-child(1) {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #2963A3;
}

.aside-box-price p:nth-child(2) {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-right: 22px;
}

.aside-box-price button {
    padding: 12px 23px;
    width: fit-content;
    background-color: #35B3A9;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.aside-box-price button:hover {
    background-color: #03A094;
}

.aside-box-price img{
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 16px;
}