html {
    background-color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {

    background-color: #ffffff;
}
/* Iphone SE*/
@media (min-width: 375px) {
    body {
        width: 320px;
    }
}
/* Iphone 14 pro max*/
@media (min-width: 414px) {
    body {
        width: 414px;
    }
}
/* Ipad mini*/
@media (min-width: 768px) {
    body {
        width: 768px;
    }
}
/* Ipad pro */
@media (min-width: 1024px) {
    body {
        width: 1024px;
    }
}
/* Other */
@media (min-width: 1200px) {
    body {
        width: 1440px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
}
/* Iphone SE*/
@media (min-width: 375px) {
    .container {
        max-width: 288px;
    }
}
/* Iphone 14 pro max*/
@media (min-width: 414px) {
    .container {
        max-width: 374px;
    }
}
/* Ipad mini*/
@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }
}
/* Ipad pro */
@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}
/* Other */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.line {
    width: 100%;
    border-bottom: 1px solid #EFF5FB;
}
/* Iphone SE */
@media (min-width: 375px) {
    .line {
        margin-bottom: 24px;
    }
}
/* Iphone 14 Pro Max */
@media (min-width: 430px) {
    .line {
        margin-bottom: 16px;
    }
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.fw-nowrap {
    flex-wrap: nowrap;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: start;
}

.jc-end {
    justify-content: end;
}

.ai-start {
    align-items: start;
}

.ai-end {
    align-items: end;
}

.lst-none {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}
