@import "font.css";

.footer {
    background-color: #2963A3;
    max-width: 1440px;
    margin: 96px auto 0;
}

.footer__box {
    row-gap: 23px;
    padding: 40px 0;
}

@media (max-width: 1024px) {
    .footer__content {
        column-gap: 30px;
    }
}

@media (max-width: 1200px) {
    .footer__content {
        column-gap: 93px;
    }
}

.footer__content-list {
    row-gap: 16px;
    margin: 0;
    padding: 0;
}

.footer__content-list a {
    text-wrap: nowrap;
    text-decoration: none;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .footer__middle-content {
        width: 450px;
    }
}

@media (max-width: 1200px) {
    .footer__middle-content {
        width: 486px;
    }
}

.footer__middle-content text:first-child {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin-right: 130px;
}

.footer__middle-content text:last-child {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #ffffffc4;
}

.footer__middle-content input{
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 16px;
    color: #333333;
    padding: 14px 16px;
    border-radius: 4px;
    border: 1px inset #9D9D9D33;
    height: 48px;
    margin: 8px 0;
    width: 384px;
}

.footer__middle-content input:focus-visible {
    border: 1px solid #16C8BB;
    outline-color: #16C8BB;
}

.footer__middle-content input::placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 16px;
    color: #9D9D9D;
}

.footer__box__brands {
    row-gap: 40px;
}

.footer__box__brands__logo {
    column-gap: 16px;
}