@import "font.css";
header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #EFF5FB;
    background-color: #ffffff;
    z-index: 100;
}

header .container {
    background-color: #ffffff;
}

/* Other */
@media (min-width: 1200px) {
    header {
        box-shadow: 0 2px 2px #EFF2F2;
    }
}

/* Iphone SE */
@media (min-width: 375px) {
    header {
        padding: 8px;
    }
}
/* Iphone 14 Pro Max */
@media (min-width: 430px) {
    header {
        padding: 16px 4px 16px;
    }
}
/* Ipad mini */
@media (min-width: 768px) {
    header {
        padding: 18px;
    }
}
/* Ipad pro */
@media (min-width: 768px) {
    header {
        padding: 14px;
    }
}

/* Iphone SE */
@media (min-width: 375px) {
    .header-img {
        height: 34px;
        width: 48px;
    }
}
/* Ipad pro */
@media (min-width: 1024px) {
    .header-img {
        height: 36px;
        width: 51px;
    }
}

header nav {
    width: 100%;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }
}

header nav ul {
    text-wrap: nowrap;
}

/* Ipad mini */
@media (min-width: 768px) {
    header nav ul {
        column-gap: 16px;
    }
}
/* Ipad pro */
@media (min-width: 1024px) {
    header nav ul {
        column-gap: 16px;
    }
}
/* Other */
@media (min-width: 1200px) {
    header nav ul {
        column-gap: 30px;
    }
}

header nav ul li {
    list-style-type: none;
}

header nav ul a {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #333;
}

.header-nav_link-img {
    column-gap: 8px;
    cursor: pointer;
}

.header-nav_link-img li {
    list-style-type: none;
}

header button{
    background-color: #E3F5F5;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    color: #03B2A5;
    padding: 14px 20px;
    border-style: none;
    border-radius: 4px;
    text-wrap: nowrap;
    cursor: pointer;
}

header button:hover{
    background-color: #b4e8e4;
}
/* Ipad mini */
@media (max-width: 768px) {
    header button {
        display: none;
    }
}

.header__burger {
    display: none;
}

@media (max-width: 768px) {
    .header__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}