@import "font.css";

@media (min-width: 1200px) {
    main {
        background-image: url("../images/main/background.svg");
        background-repeat: no-repeat;
        background-position: center calc(401px - 76px);
    }
}

main .container {
    background-color: #ffffff;
}

.main__links-container {
    padding-left: 6px;
}

.main__links-container a{
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #333333;
}

.main__links-container a:first-child {
    position: relative;
    margin-right: 4px;
}

.main__links-container a:last-child {
    margin-left: 8px;
}

.main__links-container img::after {
    content: none;
    position: absolute;
    margin-left: 4px;
    left: 0;
}

@media (min-width: 375px) {
    .main__links-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 414px) {
    .main__links-container {
        margin-bottom: 32px;
    }
}

@media (min-width: 768px) {
    .main__links-container {
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .main__links-container {
        margin-bottom: 30px;
    }
}

.main__title h1 {
    font-family: Montserrat-Bold, sans-serif;
    margin: 0;
}

@media (min-width: 375px) {
    .main__title h1 {
        font-size: 24px;
        line-height: 32px;
        padding: 0 0 24px;
    }
}

@media (min-width: 414px) {
    .main__title h1 {
        font-size: 32px;
        line-height: 40px;
        padding: 0 0 24px;
    }
}

@media (min-width: 768px) {
    .main__title h1 {
        font-size: 48px;
        line-height: 56px;
        padding: 0 0 32px;
    }
}

.main__tags-container {
    column-gap: 8px;
    row-gap: 8px;
    padding-bottom: 24px;
}

@media (min-width: 375px) {
    .main__tags-container {
        flex-wrap: nowrap !important;
        overflow-x: scroll;
    }
}

@media (min-width: 1024px) {
    .main__tags-container {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}

.main__tags-container__tag {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    box-sizing: border-box;
    text-wrap: nowrap;
    cursor: pointer;
}

.main__tags-container__tag:hover {
    border: 2px solid #16C8BB;
}

.main__tags-container__tag img::before {
    position: absolute;
    content: none;
}

.main__tags-container__tag img {
    margin-left: 6px;
}

.main__tags-container__tag p {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 6px 8px 6px 4px;
}

@media (min-width: 375px) {
    .main__flex-column__box {
        height: 484px;
    }

    .box-width_big {
        width: 100%;
    }

    .box-width_small {
        width: 100%;
    }

    .img-height_big {
        height: 206px;
    }

    .img-height_small {
        height: 206px;
    }

    .main__flex-button-container {
        margin-top: 28px;
    }


}

@media (min-width: 414px) {


    .main__flex-column__box {
        height: 466px;
    }

    .box-width_big {
        width: 100%;
    }

    .box-width_small {
        width: 100%;
    }

    .img-height_big {
        height: 206px;
    }

    .img-height_small {
        height: 206px;
    }

    .main__flex-button-container {
        margin-top: 28px;
    }


}

@media (min-width: 768px) {

    .main__flex-column__box {
        height: 599px;
    }

    .box-width_big {
        width: 100%;
    }

    .box-width_small {
        width: calc(50% - 24px);
    }

    .img-height_big {
        height: 404px;
    }

    .img-height_small {
        height: 206px;
    }

    .main__flex-button-container {
        margin-top: 33px;
    }


}


@media (min-width: 1024px) {
    .main__flex-column__box {
        height: 499px;
    }

    .box-width_big {
        width: calc(50% - 24px);
    }

    .box-width_small {
        width: calc(33.3333% - 16px);
    }

    .img-height_big {
        height: 260px;
    }

    .img-height_small {
        height: 206px;
    }

    .main__flex-button-container {
        margin-top: 35px;
    }


}

@media (min-width: 1200px) {


    .main__flex-column__box {
        height: 499px;
    }

    .box-width_big {
        width: calc(50% - 12px);
    }

    .box-width_small {
        width: calc(33.3333% - 16px);
    }

    .img-height_big {
        height: 260px;
    }

    .img-height_small {
        height: 260px;
    }

    .main__flex-button-container {
        margin-top: 56px;
    }

}


.main__flex-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 24px;
}

.main__flex-button-container {
    display: flex;
    justify-content: center;
}

.main__flex-button-container button {
    width: 182px;
    height: 48px;
    background-color: #35B3A9;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.main__flex-button-container button:hover {
    background-color: #03A094;
}

.main__flex-column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 24px;
}

.main__flex-column__box {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-color: #C1C5CD;
    border-width: 1px;
    border-radius: 16px;
    cursor: pointer;
}

.main__flex-column__box__tag-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    top: 7px;
    left: 8px;
    z-index: 0;

}

.main__flex-column__box__tag {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    width: fit-content;
    z-index: 0;
}

.main__flex-column__box__tag img::before {
    position: absolute;
    content: none;
}

.main__flex-column__box__tag p{
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 6px 8px 6px 4px;
}

.main__flex-column__box__tag img{
    margin-left: 6px;
}

.main__flex-column__box__article {
    margin-left: 16px;
    margin-right: 16px;
}

.main__flex-column__box__article h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.main__flex-column__box__img {
    display: block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
}

.main__flex-column__box__article__author {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #494949;
}

.main__flex-column__box__article__content {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.main__flex-column__box__article__footer {
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #868686;
}

.main__flex-column__box__article__footer {
    left: 16px;
    bottom: 4px;
}