@import "font.css";

.header {
    display: block;
    position: sticky;
    background-color: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    display: none;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__list_gap {
    column-gap: 30px;
}

.header__nav__list__item {
    list-style-type: none;
}

.header__nav__list__item_arrow {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 8px;
    cursor: pointer;
}

.header__nav__list__item__link {
    text-wrap: nowrap;
    font-family: Montserrat-Medium, sans-serif;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #333;
}

.header__nav__list__item__link_arrow::after {
    margin-left: 8px;
    content: url('/images/header/arrow_bottom.svg');
}

.header__button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.header__button a{
    text-decoration: none;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 16px;
    color: #03B2A5;
    padding: 14px 20px;
    background-color: #E3F5F5;
    border-radius: 4px;
}

.header__button:hover a{
    background-color: #b4e8e4;
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__button a{
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media (min-width: 375px) {
    .header__logo img{
        height: 34px;
        width: 48px;
    }

    .main__flex-column__box {
        width: 100%;
    }

    .main__flex-column__box__thin {
        width: 100%;
    }

    .img_height-big {
        height: 206px;
    }

    .img_height-small {
        height: 206px;
    }
}

@media (min-width: 430px) {
    .header__logo img{
        height: 34px;
        width: 48px;
    }

    .main__flex-column__box {
        width: 100%;
    }

    .main__flex-column__box__thin {
        width: calc(50% - 24px);
    }

    .img_height-big {
        height: 206px;
    }

    .img_height-small {
        height: 206px;
    }
}

@media (min-width: 992px) {
    .header__logo img{
        height: 36px;
        width: 51px;
    }

    .container {
        max-width: 960px;
    }

    .header__nav__list_gap {
        column-gap: 16px;
    }

    .main__flex-column__box {
        width: calc(50% - 12px);
    }

    .main__flex-column__box__thin {
        width: calc(33.3333% - 16px);
    }

    .img_height-big {
        height: 260px;
    }

    .img_height-small {
        height: 206px;
    }
}

@media (min-width: 1200px) {
    .header__logo img{
        height: 36px;
        width: 51px;
    }

    .header__nav__list_gap {
        column-gap: 30px;
    }

    .container {
        max-width: 1200px;
    }

    .main__flex-column__box {
        width: calc(50% - 12px);
    }

    .main__flex-column__box__thin {
        width: calc(33.3333% - 16px);
    }

    .img_height-big {
        height: 260px;
    }

    .img_height-small {
        height: 260px;
    }
}

.main__flex-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 24px;
}

.main__flex-column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 24px;
}

.main__flex-column__box {
    height: 499px;
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-color: #C1C5CD;
    border-width: 1px;
    border-radius: 16px;
}

.main__flex-column__box__thin {
    height: 499px;
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-color: #C1C5CD;
    border-width: 1px;
    border-radius: 16px;
}

.main__flex-column__box__article {
    margin-left: 16px;
    margin-right: 16px;
}

.main__flex-column__box__article h1 {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.main__flex-column__box__img {
    display: block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
}

* {
    box-sizing: border-box;
}
